
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    color: #084004;
    font-style: normal;
}

body, html {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: url("../img/bg2.png") center no-repeat;
    background-size: 100% 100%;

}

.img-box img {
    display: block;
    width: 100%;
}

img {
    vertical-align: middle
}

.screen {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.screen1 {
    background: url("../img/bg1.jpg") center no-repeat;
    background-size: 100% 100%;
}

.out-but {
    position: absolute;
    top: 2%;
    left: 1%;
    width: 8%;

}

.out-but img {
    display: block;
    width: 100%;
}

.science {
    position: relative;
    width: 100%;
    height: 100%;
    background: url("../img/science.png") center 40% no-repeat;
    background-size: 85% auto;
}

/*进度条*/
.process {
    position: absolute;
    top: 75%;
    left: 10%;
    width: 80%;
    height: 70px;
    margin: 0 auto;
    background: #e3ffe1;
    border-radius: 33px;
    box-shadow: 0 8px 10px -3px #63ac5e inset;
    border: solid 2px #e3ffe1;
}

.process:after {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    border-radius: 33px;
    box-shadow: 0 5px 3px 3px #157f3d;
    content: '';
}

.process-bar {
    position: absolute;
    display: block;
    bottom: 8%;
    left: 0.5%;
    z-index: 2;
    height: 80%;
    border-radius: 33px;
    background: url("../img/process.jpg") 0 0 repeat-x;
    background-size: auto 100%;
}

.process-bar p {
    position: absolute;
    background: url("../img/sheep-icon.png") 0 0 no-repeat;
    background-size: 100% 100%;
    text-align: center;
    letter-spacing: -3px;
}

/* 按钮样式 */
.button-box {
    position: absolute;
    bottom: 15%;
    left: 0;
    z-index: 1;
    width: 100%;
    text-align: center;
}

.button-box img {
    height: 100%
}

.button-box img:nth-last-child(1) {
    margin-left: 5%;
}

.science .button-box {
    bottom: 4%;
    text-align: right;
    padding-right: 4%;
}

.button {
    display: inline-block;
    height: 100%;
    background: #f39800;
    color: #fff;
    padding: 0 60px;
    text-shadow: 2px 2px 2px #666;
    letter-spacing: 20px;
    text-indent: 20px;
    border-radius: 15px;
    box-shadow: 0 5px 0px 1px #c27a00;
    line-height: 200%;
}

.button2 {
    background: #aaa;
    box-shadow: 0 5px 0px 1px #999;
}

.button-box-s .button {
    margin: 0 3%;
}

/*按钮位置1*/
.button-pos-a {
    position: absolute;
    top: 70%;
    left: 0;
}

/*** 游戏结束 ***/

#overBox:after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    background: rgba(14, 78, 9, 0.4);
    content: '';
}

#overBox .over-box {
    position: absolute;
    width: 56%;
    top: 20%;
    left: 22%;
    z-index: 1;

}

#overBox .over-box > img {
    display: block;
    width: 100%;
}

#overBox .over-box i {
    position: absolute;
    display: block;
    right: 15%;
    color: #1f8017;

}

#getScore {
    bottom: 39%;
}

#getNum {
    bottom: 24.5%;
}

#getPerc {
    bottom: 11%;
}

/** 游戏暂停 **/
.stop-box {
    position: fixed;
    left: 0;
    top: 0;
    display: none;
    z-index: 10;
    width: 100%;
    height: 100%;
    background: rgba(14, 78, 9, 0.8);

}

.stop-box img {
    display: block;
    width: 100%;
}

.continue {
    position: absolute;
    top: 25%;
    left: 43%;
    width: 14%;
}

.out {
    position: absolute;
    bottom: 40%;
    left: 28%;
    width: 8%;
}

#helpBox {
    z-index: 11;
}

.help {
    position: absolute;
    bottom: 40%;
    right: 28%;
    width: 8%;
}

/**游戏介绍**/
.introduce-box {
    position: fixed;
    left: 0;
    top: 0;
    display: none;
    z-index: 10;
    width: 100%;
    height: 100%;
    background: rgba(14, 78, 9, 0.8);
}

.introduce-main {
    position: absolute;
    top: 22%;
    left: 20%;
    z-index: 1;
    width: 60%;
}

.introduce-main > img {
    display: block;
    width: 100%;
}

/**确认退出**/
.sure-box {
    position: fixed;
    left: 0;
    top: 0;
    display: none;
    z-index: 10;
    width: 100%;
    height: 100%;
    background: rgba(14, 78, 9, 0.8);
}

.sure-main {
    position: absolute;
    top: 30%;
    left: 25%;
    z-index: 1;
    width: 55%;

}

.sure-main > img {
    display: block;
    width: 100%;
}

/**帮助画面**/
.icon-arrow {
    position: absolute;
    top: 45%;

    z-index: 100;
    width: 70px;
}

.icon-arrow.left {
    left: 30px;
}

.icon-arrow.right {
    right: 30px;
}

.spot {
    position: absolute;
    bottom: 5%;
    left: 0;
    z-index: 100;
    width: 100%;
    text-align: center;
}

.spot li {
    display: inline-block;
    width: 30px;
    margin: 0 10px;
    opacity: .5;
}

.spot li.active {
    opacity: 1;
}

.help-list {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 300%;
    transition: all .5s;
}

.help-list li {
    display: block;
    float: left;
    height: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.help1 {
    background-image: url("../img/help1.jpg");
}

.help2 {
    background-image: url("../img/help2.jpg");
}

.help3 {
    background-image: url("../img/help3.jpg");
}

/*****************  游戏区按钮 *****************/
.part-btn {
    position: absolute;
    z-index: 5;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 15px;
    box-shadow: 0 5px 5px -1px #157f3d;
    background-size: 60% 60%;
    background-repeat: no-repeat;
    background-position: center;

}

.bottom-right {
    bottom: -7px;
    right: -7px;
    background-image: url("../img/stop1.png");
}

.part-text {
    position: absolute;
    z-index: 1;
    top: -15px;
    left: 0;
    width: 100%;
    padding-left: 18%;
    text-align: center;

}

.part-text li {
    display: block;
    float: left;
    margin-right: 5%;
    height: 100%;
    min-width: 18%;
    padding: 0 2%;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 15px;
    box-shadow: 0 5px 5px -1px #157f3d;
    color: #1f8017;
}

.part-text li > i {
    padding-right: 15px;
    color: #1f8017;
}

.part-text li span {

    color: #1f8017;
}

.part-text li .process-icon {

    float: left;
    margin: 0 -15px 0 30px;
    height: 100%;
}

.part-text li .process-icon img {

    vertical-align: middle;

}

.part-text li p.max {
    display: block;
    float: left;
    color: #1f8017;
}

.part-text li .huo-miao {
    display: block;
    float: left;
    height: 80%;
    margin-top: 4%;
}

/** 羊与狗 **/
#movePart {
    position: relative;
    width: 100%;
    height: 70%;
    margin-top: 10%;
}

.part {
    position: absolute;
    width: 80%;
    height: 90%;
    top: 10%;
    left: 10%;
}

.part-list {
    position: relative;
    width: 100%;
    height: 100%;
}

.part-list > p {
    position: relative;
}

.part-list > p .language {
    position: absolute;
    top: -25%;
    left: -25%;
    display: block;
    width: 100%;
}

.part-list > p .language img {
    display: block;
    width: 100%;
    /*opacity: 0;*/
    /*animation: change .9s ease;*/
    /*-webkit-animation: change .9s linear;*/
}

/*@keyframes change {*/
/*from {*/
/*width: 0;*/
/*opacity: 1;*/
/*}*/
/*to {*/
/*width: 100%;*/
/*opacity: 0;*/
/*}*/
/*}*/

/*@-webkit-keyframes change {*/
/*from {*/
/*width: 0;*/
/*opacity: 1;*/
/*}*/
/*to {*/
/*width: 100%;*/
/*opacity: 0;*/
/*}*/
/*}*/

.part-list > p > img {
    display: block;
    width: 100%;
}

.part-list > p.sb, .part-list > p.st, .part-list > p.sl, .part-list > p.sr {
    width: 18%;
}

.part-list > p.db, .part-list > p.dt, .part-list > p.dl, .part-list > p.dr {
    width: 23%;

}

/** part-list1  一字形排列  **/
.part-list1 {
    text-align: center;
}

.part-list1 p {
    display: inline-block;
    margin-left: -1%;
}

/** part-list2  左上右下排列  **/
.part-list2 p {
    position: absolute;
    display: block;
}

.part-list2 p:nth-child(1) {
    top: 0;
    left: 10%;
}

.part-list2 p:nth-child(2) {
    top: 15%;
    left: 25%;
}

.part-list2 p:nth-child(3) {
    top: 30%;
    left: 40%;
}

.part-list2 p:nth-child(4) {
    top: 45%;
    left: 55%;
}

.part-list2 p:nth-child(5) {
    top: 60%;
    left: 70%;
}

.part-list2 p.dr, .part-list2 p.dl {

    margin-left: -5%;
}

/** part-list3  右上左下排列  **/
.part-list3 p {
    position: absolute;
    display: block;

}

.part-list3 p:nth-child(1) {
    bottom: 5%;
    left: 10%;
}

.part-list3 p:nth-child(2) {
    bottom: 20%;
    left: 27%;
}

.part-list3 p:nth-child(3) {
    bottom: 35%;
    left: 44%;
}

.part-list3 p:nth-child(4) {
    bottom: 50%;
    left: 61%;
}

.part-list3 p:nth-child(5) {
    bottom: 65%;
    left: 78%;
}

.part-list3 p.dr, .part-list3 p.dl {
    margin-bottom: -5%;
}

/** part-list4  箭头向左排列  **/

.part-list4 p {
    position: absolute;

}

.part-list4 p:nth-child(1) {
    top: -5%;
    left: 15%;
}

.part-list4 p:nth-child(2) {
    top: 10%;
    left: 35%;
}

.part-list4 p:nth-child(3) {
    top: 30%;
    left: 55%;
}

.part-list4 p:nth-child(4) {
    bottom: 10%;
    left: 35%;
}

.part-list4 p:nth-child(5) {
    bottom: -5%;
    left: 15%;
}

.part-list4 p.dr, .part-list4 p.dl {

    margin-top: -5%;
}

/** part-list5  箭头向右排列  **/

.part-list5 p {
    position: absolute;

}

.part-list5 p:nth-child(1) {
    top: 0%;
    right: 15%;
}

.part-list5 p:nth-child(2) {
    top: 10%;
    right: 35%;
}

.part-list5 p:nth-child(3) {
    top: 30%;
    right: 55%;
}

.part-list5 p:nth-child(4) {
    bottom: 10%;
    right: 35%;
}

.part-list5 p:nth-child(5) {
    bottom: 0%;
    right: 15%;
}

/** part-list6  箭头向上排列  **/
.part-list6 p {
    position: absolute;

}

.part-list6 p:nth-child(1) {
    bottom: 10%;
    left: 10%;
}

.part-list6 p:nth-child(2) {
    bottom: 30%;
    left: 25%;
}

.part-list6 p:nth-child(3) {
    bottom: 50%;
    left: 40%;
}

.part-list6 p:nth-child(4) {
    bottom: 30%;
    right: 25%;
}

.part-list6 p:nth-child(5) {
    bottom: 10%;
    right: 10%;
}

.part-list6 p.dr, .part-list6 p.dl {
    margin-bottom: -5%;
}

/** part-list7  箭头向下排列  **/

.part-list7 p {
    position: absolute;

}

.part-list7 p:nth-child(1) {
    top: 10%;
    left: 10%;
}

.part-list7 p:nth-child(2) {
    top: 30%;
    left: 25%;
}

.part-list7 p:nth-child(3) {
    top: 50%;
    left: 40%;
}

.part-list7 p:nth-child(4) {
    top: 30%;
    right: 25%;
}

.part-list7 p:nth-child(5) {
    top: 10%;
    right: 10%;
}

.part-list7 p.dr, .part-list7 p.dl {
    margin-top: -7%;
}